:root {
  --ff-base: "NTR", sans-serif;

  --dark: #333;
  --white: #fff;
  --light-orange: #fef0de;
  --red-yellow: #fde5ce;
  --grey: #ebe9e4;
  --red-yellow-translucency: rgba(253, 229, 206, 0.5);
  --light-yellow: #fef0de;

  --main-front: #a19789;

  --clr-base-font: #1e130b;

  --clr-bgr-header: #fef0de;
  --clr-bgr-footer: #fde5ce;
}
