.gallery {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 150px);
    grid-gap: 15px;

    // height: 350px;
  }

  a {
    text-decoration: none;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &:nth-of-type(1) {
      grid-row: 1 / 3;
    }

    &:nth-of-type(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }

    &:nth-of-type(3) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &:nth-of-type(4) {
      grid-column: 3 / 4;
      grid-row: 1 / 2;
    }

    &:nth-of-type(5) {
      grid-column: 3 / 5;
      grid-row: 2 / 3;
    }

    &:nth-of-type(6) {
      grid-column: 4 / 5;
      grid-row: 1 / 2;
    }

    &:nth-of-type(7) {
      grid-column: 5 / 6;
      grid-row: 1 / 3;
    }

    &:nth-of-type(8) {
      grid-column: 6 / 7;
      grid-row: 1 / 2;
    }
  }
}
