@import "./styles/colors.css";
@import "./components/Gallery/GalleryStyles.scss";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100%;

  color: var(--dark);

  font-family: "Nunito Sans", sans-serif;

  // background-color: var(--red-yellow);
}

main {
  // height: 100vh;
}

.main-wrapper {
  padding: 2rem 6rem;
}

.footer {
  flex: 0 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--dark);
  // background-color: var(--light-orange);
  padding: 2rem 7rem;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-size: 1.3rem;

    color: var(--dark);
  }

  svg {
    font-size: 2.3rem;
    cursor: pointer;
  }

  &__logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .nav {
    display: flex;

    &__item {
      margin-right: 1.2rem;
    }
  }
}

.slider {
  margin: auto;
  position: relative;

  height: 450px;

  &__item {
    // width: 90%;
    height: 100%;
    position: absolute;

    display: flex;
    // justify-content: space-between;

    opacity: 0;
    z-index: 0;
    transition: transform ease 0.5s, opacity ease 0.5s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .show-slider {
    opacity: 1;
    z-index: 1;
  }

  &__btns {
    // margin-left: 1.2rem;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      outline: none;
      background: none;
      border: none;
      font-size: 2rem;

      display: flex;
      justify-content: center;
      align-items: center;

      cursor: pointer;

      .button__arrow {
        background-color: transparent;

        height: 1.3rem;
        width: 1.3rem;

        position: relative;
      }

      .button__arrow--up {
        /* Edges */
        border-left: 1px solid var(--dark);
        border-top: 1px solid var(--dark);
        transform: translateY(25%) rotate(45deg);
      }

      .button__arrow--right {
        /* Edges */
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        transform: translateX(-25%) rotate(45deg);
      }

      .button__arrow--down {
        /* Edges */
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        transform: translateY(-25%) rotate(45deg);
      }

      .button__arrow--left {
        /* Edges */
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        transform: translateX(25%) rotate(45deg);
      }
    }
  }
}

.banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 450px;
  padding: 0 6rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: inherit;
  padding: 0 2rem;

  &__text {
    width: 70%;

    h1 {
      text-align: center;
      margin-bottom: 1rem;
      font-size: 1.6rem;
    }

    p {
      margin-bottom: 3.4rem;
    }
  }

  a {
    text-decoration: none;
  }
}

.main-button {
  padding: 0.7rem 1.5rem;
  // border-top: 2px solid var(--white);
  // border-bottom: 2px solid var(--white);
  height: 100%;

  border-top: 2px solid var(--dark);
  border-bottom: 2px solid var(--dark);

  text-align: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  .left-border,
  .right-border {
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;

      height: 0.7rem;

      // border-left: 2px solid var(--white);
      border-left: 2px solid var(--dark);
    }

    &::after {
      top: 0;
    }

    &::before {
      bottom: 0;
    }
  }

  .left-border {
    &::after,
    &::before {
      left: 0;
    }
  }

  .right-border {
    &::after,
    &::before {
      right: 0;
    }
  }

  button {
    outline: none;
    background: none;
    border: none;

    text-transform: uppercase;

    font-size: 1.3rem;
    cursor: pointer;
  }
}

.product-card {
  width: 100%;
  // height: 100%;
  display: grid;
  grid-template-columns: 46.4% 54%;

  &__img {
    height: 450px;
  }

  img {
    width: 100%;
    // height: 400px;
    object-fit: cover;
  }
}

.grid-container {
  width: 100%;

  display: grid;
  grid-template-columns: 43% 57%;
  height: 450px;
  overflow: hidden;

  img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}

.product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-sale {
  width: 100%;

  img {
    width: 100%;
    // height: 100%;
    object-fit: cover;
  }

  &__title {
    text-transform: uppercase;
  }

  &__color {
    text-transform: capitalize;
  }

  &__prise {
    margin: 2rem 0;
    font-size: 1.6rem;
  }
}

.footer {
  padding: 1.3rem 0;
  svg {
    font-size: 2.3rem;
    margin-left: 1.2rem;

    cursor: pointer;
  }
  &__icons {
    display: flex;
    justify-content: center;
  }
}

.count-product {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.7rem;

  border: 1px solid var(--dark);

  &__input {
    display: flex;
    vertical-align: middle;
  }

  button {
    border: none;
    background: none;

    font-size: 1.5rem;
    text-transform: uppercase;

    cursor: pointer;
  }

  &__button-add {
    position: relative;

    &::after {
      content: "";
      display: block;
      height: 3.2rem;
      border-left: 1px solid var(--dark);
      position: absolute;
      top: -0.7rem;
      left: -0.7rem;
    }
  }

  input {
    outline: none;
    border: none;

    width: 50%;

    font-size: 1.5rem;

    text-align: center;
  }

  svg {
    font-size: 1.5rem;

    vertical-align: middle;

    cursor: pointer;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.slider-products {
  &__wrapper {
    overflow: hidden;
  }
  &__content {
    display: inline-flex;
    transition: transform 0.5s;
    column-gap: 2rem;

    .slider {
      flex-shrink: 0;
      width: 247px;
      height: 100%;
    }
  }

  &__btns {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      border: none;
      background: none;

      cursor: pointer;

      svg {
        font-size: 1.5rem;
      }
    }
  }
}

.bag-form {
  margin-right: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 6.7rem;

  input {
    border: none;
    outline: none;

    padding: 0.4rem 0;

    border-bottom: 1px solid var(--main-front);

    font-size: 1.2rem;
  }
}

.bag {
  display: flex;

  width: 100%;

  h2 {
    margin-bottom: 3rem;
  }

  li {
    list-style: none;
  }
}

.order-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2.5rem;

  &__info {
    display: flex;
    align-items: flex-start;
    h3 {
      text-transform: uppercase;
    }

    p {
      text-transform: capitalize;
      color: var(--main-front);
    }
    img {
      margin-right: 1.5rem;
    }
  }

  &__price {
    font-size: 1.3rem;
    color: var(--main-front);
  }
}

.order-info {
  width: 100%;

  img {
    width: 100px;
    object-fit: cover;
  }

  &__wrapper {
    p {
      display: flex;
      justify-content: space-between;
    }
    span {
      font-size: 1.3rem;
      color: var(--main-front);
    }
  }

  &__total {
    padding: 2rem 0;
    border-top: 1px solid var(--main-front);
    border-bottom: 1px solid var(--main-front);

    p {
      &:nth-of-type(1) {
        margin-bottom: 1.3rem;
      }
    }
  }
}
