@import "./styles/colors.css";
@import "./components/Gallery/GalleryStyles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  max-width: 1510px;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  color: var(--clr-base-font);

  font-family: "Montserrat", sans-serif;
}

.main-wrapper {
  padding: 0 17rem;
  margin: 98px 0;
}

.navigation {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  p,
  a {
    text-transform: capitalize;
    font-size: var(--fs-m);
  }

  p {
    margin-left: 4px;
  }

  a {
    color: var(--clr-text-grey);
    text-decoration: none;
  }
}

.footer {
  flex: 0 0 auto;
  background-color: var(--clr-bgr-footer);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 2.2rem 16.3rem;

  &__links {
    flex: 1;
  }

  &__icon {
    width: 45.42px;
    height: 50px;

    &:hover {
      background-position: -49px 0;
    }
  }

  li {
    list-style: none;
    background: none;
  }

  a {
    text-decoration: none;
    background: none !important;

    font-size: 2.2rem;
    font-weight: normal;

    margin-right: 2rem;

    color: var(--clr-text-black);

    &:hover {
      color: var(--clr-btn-text-brown);
    }

    img {
      vertical-align: middle;
    }
  }
  .active {
    color: var(--clr-btn-text-brown);
  }

  svg {
    font-size: 2.3rem;
    cursor: pointer;
  }

  &__logo {
    width: 155px;
    height: 155px;
    object-fit: contain;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }
}

.slider {
  margin: auto;
  position: relative;

  height: 450px;

  &__item {
    // width: 90%;
    height: inherit;
    position: absolute;

    display: flex;
    // justify-content: space-between;

    opacity: 0;
    z-index: 0;
    transition: transform ease 0.5s, opacity ease 0.5s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .show-slider {
    opacity: 1;
    z-index: 1;
  }

  &__btns {
    // margin-left: 1.2rem;
    padding: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    button {
      outline: none;
      background: none;
      border: none;
      font-size: 2rem;

      display: flex;
      justify-content: center;
      align-items: center;

      .button__arrow {
        background-color: transparent;

        height: 1.3rem;
        width: 1.3rem;

        position: relative;
      }

      .button__arrow--up {
        /* Edges */
        border-left: 1px solid var(--dark);
        border-top: 1px solid var(--dark);
        transform: translateY(25%) rotate(45deg);
      }

      .button__arrow--right {
        /* Edges */
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        transform: translateX(-25%) rotate(45deg);
      }

      .button__arrow--down {
        /* Edges */
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        transform: translateY(-25%) rotate(45deg);
      }

      .button__arrow--left {
        /* Edges */
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        border-left: 1px solid rgba(0, 0, 0, 0.3);
        transform: translateX(25%) rotate(45deg);
      }
    }
  }
}

.banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  padding: 0 16.7rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: inherit;
  padding: 50px 1.3rem;

  &__text {
    width: 75%;
    text-align: center;

    h1 {
      margin-bottom: 20px;
      font-size: var(--fs-lx);
    }

    p {
      margin-bottom: 60px;
      font-size: var(--fs-m);
      font-weight: var(--fw-normal);
    }
  }

  a {
    text-decoration: none;
  }
}

.main-button {
  width: fit-content;
  padding: 1.6rem 3.8rem;

  height: 100%;

  border-top: 2px solid var(--clr-white);
  border-bottom: 2px solid var(--clr-white);

  text-align: center;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  .left-border,
  .right-border {
    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;

      height: 20px;

      border-left: 2px solid var(--clr-white);
    }

    &::after {
      top: 0;
    }

    &::before {
      bottom: 0;
    }
  }

  .left-border {
    &::after,
    &::before {
      left: 0;
    }
  }

  .right-border {
    &::after,
    &::before {
      right: 0;
    }
  }

  button {
    outline: none;
    background: none;
    border: none;

    text-transform: uppercase;

    font-size: var(--fs-l);
    font-weight: var(--fw-normal);
    cursor: pointer;

    color: var(--clr-base-font);

    letter-spacing: 0.1em;

    &:hover {
      color: var(--clr-btn-text-brown);
    }
  }
}

.main-button-orange {
  border-top: 2px solid var(--clr-orange);
  border-bottom: 2px solid var(--clr-orange);

  .left-border,
  .right-border {
    &::after,
    &::before {
      border-left: 2px solid var(--clr-orange);

      height: 40px;
    }
  }
}

.product-card {
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: 43.4% 58%;

  &__img {
    height: 450px;
  }

  img {
    width: 100%;

    object-fit: cover;
  }
}

.grid-container {
  width: 100%;

  display: grid;
  grid-template-columns: 40% 60%;
  height: 450px;
  overflow: hidden;

  img {
    width: 100%;
    height: 450px;
    object-fit: cover;
  }
}

.product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-sale {
  width: 270px;

  &__text-container {
  }

  img {
    width: 100%;
    height: 320px;
    object-fit: cover;
  }

  &__title {
    margin-top: 26px;
    text-transform: uppercase;
    font-size: var(--fs-m);
    font-weight: var(--fw-bold);
  }

  &__color {
    text-transform: capitalize;
    font-size: var(--fs-m);
    color: var(--clr-text-grey);
  }

  &__prise {
    font-size: var(--fs-l);
    font-weight: var(--fw-bold);

    margin: 38px 0 46px 0;
  }
}

.footer {
  margin-top: 9rem;
  padding: 5.3rem 0;
  svg {
    font-size: 2.3rem;
    margin-left: 1.2rem;

    cursor: pointer;
  }
  &__icons {
    display: flex;
    justify-content: center;

    img {
      width: 70px;
      height: 70px;

      margin-left: 5rem;

      cursor: pointer;
    }
  }
}

.count-product {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;

  &__input {
    height: inherit;

    padding: 0 1.3rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 2px solid var(--clr-dark);

    font-size: var(--fs-l);
    font-weight: var(--fw-bold);

    button {
      border: none;
      background: none;

      img {
        width: 12.35px;
        height: 20px;

        cursor: pointer;
      }
    }
  }

  &__button-add {
    height: inherit;
    padding: 0 1.2rem;
    background: none;
    border: 2px solid var(--clr-dark);
    border-left: none;

    font-size: var(--fs-m);
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
      color: var(--clr-btn-text-brown);
    }
  }

  input {
    outline: none;
    border: none;

    width: 50%;

    font-size: 2.4rem;

    text-align: center;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.slider-products {
  &__wrapper {
    overflow: hidden;
  }
  &__content {
    display: inline-flex;
    transition: transform 0.5s;
    justify-content: space-between;

    width: 100%;

    .slider {
      flex-shrink: 0;
      width: 270px;
      // height: 320px;
    }
  }

  &__btns {
    margin-top: 46px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      border: none;
      background: none;
      margin: -5rem;

      svg {
        font-size: 1.5rem;
      }
    }
  }
}

.bag-form {
  margin-right: 5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  row-gap: 6.7rem;

  input {
    border: none;
    outline: none;

    padding: 0.4rem 0;

    border-bottom: 1px solid var(--main-front);

    font-size: 1.2rem;
  }
}

.bag {
  display: flex;

  width: 100%;

  h2 {
    margin-bottom: 3rem;
  }

  li {
    list-style: none;
  }
}

.order-card {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2.5rem;

  &__info {
    display: flex;
    align-items: flex-start;
    h3 {
      text-transform: uppercase;
    }

    p {
      text-transform: capitalize;
      color: var(--main-front);
    }
    img {
      margin-right: 1.5rem;
    }
  }

  &__price {
    font-size: 1.3rem;
    color: var(--main-front);
  }
}

.order-info {
  width: 100%;

  img {
    width: 100px;
    object-fit: cover;
  }

  &__wrapper {
    p {
      display: flex;
      justify-content: space-between;
    }
    span {
      font-size: 1.3rem;
      color: var(--main-front);
    }
  }

  &__total {
    padding: 2rem 0;
    border-top: 1px solid var(--main-front);
    border-bottom: 1px solid var(--main-front);

    p {
      &:nth-of-type(1) {
        margin-bottom: 1.3rem;
      }
    }
  }
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #1e130b;
  -webkit-text-stroke: 1px #1e130b;
  -webkit-text-fill-color: white;

  margin-bottom: 43px;
}

.arrow-left {
  transform: rotate(180deg);
}

.arrow-top {
  transform: rotate(180deg);
}

.arrow-slider {
  width: 70px;
  height: 220px;

  &:hover {
    background-position: 0 -220px;
  }
}

.arrow-product-slider {
  width: 220px;
  height: 70px;

  &:hover {
    background-position: -220px 0;
  }
}

.disabled {
  opacity: 0.5;
  cursor: initial !important;
}

button[disabled] {
  .arrow-slider,
  .arrow-product-slider {
    &:hover {
      background-position: 0 0;
    }
  }
}

.about {
  padding: 4rem 17rem;

  p {
    font-size: var(--fs-m);
    line-height: var(--lh-large);
  }
  .content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 65px);

    p:nth-of-type(1) {
      grid-column: 1 / 4;
      grid-row: 2/3;
    }

    img:nth-of-type(1) {
      grid-column: 9;
      grid-row: 1/5;
    }

    p:nth-of-type(2) {
      grid-column: 4 / 13;
      grid-row: 7;
    }

    img:nth-of-type(2) {
      grid-row: 4;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-top: 95px;
    }
  }

  &__btns {
    width: 48%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    button {
      border: none;
      background: none;
    }
  }
}

.contacts {
  &__text-container {
    text-align: center;

    margin-bottom: 30px;

    p,
    h3 {
      font-size: 22px;
      // line-height: 30px;
    }
  }

  &__form {
    padding: 50px 0;
    background-color: var(--clr-bgr-footer);
    form {
      width: 470px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;

      input,
      textarea {
        text-align: center;
        background: var(--clr-white);
        border: none;
        border-bottom: 1px solid var(--clr-orange);

        outline: none;

        margin-bottom: 20px;
      }

      input {
        padding: 0.4rem;
      }
      textarea {
        padding: 8rem;
      }

      .main-button {
        margin: 10px auto;
      }
    }
  }

  .map {
    margin-top: 100px;
    margin-bottom: -90px;

    img {
      margin-top: 30px;

      height: 100%;
    }

    &__text-container {
      padding-left: 16.3rem;
      h2 {
        font-weight: var(--fw-normal);
        font-size: var(--fs-l);
        text-transform: uppercase;

        margin-bottom: 40px;
      }

      p {
        font-weight: var(--fw-normal);
        font-size: var(--fs-m);
      }
    }
  }
}
